 .overlay {
    position: fixed;
    background: grey;
    opacity: 0.7;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  form {
    margin-bottom: 2rem;
  }
  
  .modal {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 50vw;
    background-color: #fff;
    border-radius: 4px;
    padding: 1em;
    overflow:auto;
  }
  
  .inputItem {
    margin-bottom: 16px;
  }
  
  .label,
  .input {
    display: flex;
    width: 100%;
  }
  
  .label {
    margin-bottom: 4px;
  }
  
  .App {
    text-align: center;
  }
  
.message {
  background-color: green;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
}

.message--visible {
  border: 5px solid darkGreen;
  padding: 1rem;
}